body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Estilos personalizados para FullCalendar */
.fc-timegrid-event-harness {
  width: 100% !important;
  left: 0 !important;
  right: 0 !important;
  margin-bottom: 2px; /* Opcional: para añadir un pequeño espacio entre eventos apilados */
}